@import "tailwindcss";

nav {
  font-family: "Poppins", serif;
}

.hero {
  background-image: url(/public/images/image-hero-desktop.jpg);
  background-position: center;
  background-size: auto;
}

@media (max-width: 480px) {
  .hero {
    background-image: url(/public/images/image-hero-mobile.jpg);
  }
}

.main {
  position: relative;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
