@import "tailwindcss";

.hero {
  background-image: url(/public/images/image-hero-desktop.jpg);
  background-position: center;
  background-size: auto;
}

@media (max-width: 480px) {
  .hero {
    background-image: url(/public/images/image-hero-mobile.jpg);
  }
}
